body, ul, li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.clients--wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(./img/kids_eating_ice_cream_hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.clients__container {
    display: flex;
    width: calc(100% / 2);
    flex-wrap: wrap;
    justify-content: center;
}

.clients__img {
    width: 200px;
    height: auto;
}