/* START SECTION CONTACTS */
body, ul, li, p, a {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.section {
    padding: 0 20px;
    max-width: 280px;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    
}
.contacts__container {
    display: flex;
    flex-direction: column;

    padding: 40px 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}
.contacts__container:not(last-of-type) {
    margin-bottom: 20px;
}
.contacts__title {
    position: absolute;
    opacity: 0;
    top: -9999px;
    left: -9999px;
}
.contacts__item-wrap {
    display: flex;
    height: 16px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.contacts__item-wrap.foodtruck{
    width: 130px;
    background-color: #C2E297;
}
.contacts__item-wrap.cafe{
    width: 80px;
    background: #F0D1A5;
}
.contacts__item {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding: 24px 0;
    line-height: 1.86;
    color: #000000;
}
.contacts__item:first-of-type {
    padding: 0 0 24px 0;
}
.contacts__item:last-of-type {
    padding: 24px 0 0 0;
}
.contacts__item:not(:last-of-type){
    border-bottom: 1px solid #E1E1E1;
}
.contacts__item-title {
    margin-bottom: 8px;
    letter-spacing: 0.04em;
}
.contacts__description--place {
    margin: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5; 
    color: #907E82;
}
.contacts__description--working-days {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: #000000;
}
.contacts__description--working-time {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
     color: #FFA5BA;
}
.contacts--phone,
.contacts--email {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;
}
.contacts--phone:focus,
.contacts--email:focus,
.contacts--phone:hover,
.contacts--email:hover {
    color: #D41443;
}
/* START SECTION GALERRY */
.section__gallery {
    position: relative;
}
.container.gallery__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2.5px;
    padding: 0;
}
.gallery__column {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}
.gallery__column:nth-child(5){
    padding-bottom: 15px;
}
.gallery__img {
    width: 100%;

}
.gallery__img.img--big {
    width: 50%;
}

.gallery__img:hover {
    animation: scale 600ms ease-out;
    opacity: .7;
}
@keyframes scale {
    25% {transform: scale(1.25)}
    50% {transform: scale(1.5)}
    75% {transform: scale(1.25)}
    100% {transform: scale(1)}
}
/* MODAL WINDOW */
.my__modal{
	display: none;
	position: fixed;
    justify-content: center;
    align-items: center;
	z-index: 1;
	right: 0;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,.7);
}
.modal__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-200%);
    transition: all 1s ease;

}
.modal__content{
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	max-width: 100vw; 
	max-height: 85vh;
}
#caption{
	z-index: 20;
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: white;
	padding: 10px 0;
	height: 150px;
}
.modal__content, #caption{
	animation-name: zoom;
	animation-duration: .7s;
}
.close{
	z-index: 50;
	color: #f1f1f1;
	position: absolute;
	top:15px;
	right: 35px;
	font-size: 40px;
	font-weight: bold;
	transition: all .3s ease;
	cursor: pointer;
}
.close:hover, .close:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@keyframes zoom{
	from{transform: scale(0);}
	to{transform: scale(1);}
}
